.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &-form {
        display: flex;
        max-width: 40rem;
        align-items: center;
        margin: 3rem;

        h1 {
            font-size: 2.4rem;
            text-align: center;
            margin: 4rem auto;
        }

        input {
            width: calc(100% - 2rem);
            margin: 2rem;
            font-size: 2rem;
            padding: 2rem 1rem;
            outline: none;
            box-shadow: 0 0 1rem rgba(#000, 0.5);
            border-radius: 1rem;
            border: 1px solid rgba(#000, 0.5);
        }

        button {
            margin-top: 2rem;
            background-color: #000;

            p {
                margin: .25rem 0 0;
            }
            display: flex;
            height: 5rem;
            transition: all 0.3s;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            cursor: pointer;
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 1rem;
        }

        img {
            height: 20rem;
            object-fit: cover;
            border-radius: 100%;
            width: 20rem;
        }

        flex-direction: column;
    }
}