.register {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;


    &-button {
        margin: 0 auto;
        width: 90%;
        margin: 0 0;
        max-width: 30rem;
        padding: 2rem 0;
        border-radius: 1rem;
        background-image: linear-gradient(to right bottom, black, black);
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s;
        border: none;

        &:hover {
            color: #fff;
            transform: scale(1.01);
        }
    }

    &-body {
        width: calc(100% - 4rem);
        padding: 2rem;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-form {
        width: 100%;
        max-width: 70rem;
        display: grid;
        justify-content: space-between;

        @include respond(tablet) {
            // display: none
            padding:2rem;
            grid-gap: 2rem;
            // margin:0;
            width: calc(100% - 4rem);
            display: grid;
            grid-template-columns: 1fr !important;
        }

        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;

        div {
            width: 100%;
        }

        p {
            margin: 0 0 .5rem;
            font-size: 1.8rem;
        }

        &-textarea {
            padding: 2rem 1rem;
            outline: none;
            font-size: 1.8rem;
            border: none;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
            border-radius: .76rem;
            margin: 1rem 0;

            max-height: 40rem;
            width: 100%;
        }

        textarea {
            resize: vertical;
            max-height: 40rem;
            min-height: 5rem;
            width: 100%;
            border-radius: 0.76rem;
            padding: 2rem 1rem;
            font-size: 1.8rem;

            &:focus {
                outline: none // border: #fff;
            }
        }


        input {
            padding: 2rem 1rem;
            outline: none;
            font-size: 1.8rem;
            border: none;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
            border-radius: .76rem;
            margin: 1rem 0;
            width: 100%;
        }
    }

    &-header {

        justify-content: center;
        position: relative;
        height: 100vh;
        z-index: 1;
        align-items: center;
        display: flex;

        h1 {
            @include respond(tablet) {
                word-wrap: break-word;
                width: 2rem;
                // display: none;
            }

            color: $colorTertiaryGradient1;
            border-radius: .5rem;
            box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
            z-index: 2;
            background-image: linear-gradient(to right bottom, rgba($colorPrimaryGradient2, 0.3), rgba($colorPrimaryGradient1, 0.24));
            padding: 2rem;
            font-size: 3rem;
        }

        &-video {
            z-index: 1;
            top: 0;
            left: 0;
            position: absolute;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        width: 30vw;
    }
}